Projects/WPF_XML_Transformation/WPF_XML_Testing/XML2/validate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TechCollege">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rooms">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="room" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="rid" use="optional"/>
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="building" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="classes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="class" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="startdate"/>
                    <xs:element type="xs:string" name="length"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element name="students">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="student" maxOccurs="2" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="login"/>
                                <xs:element type="xs:string" name="name"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="studentid" use="optional"/>
                              <xs:attribute type="xs:byte" name="cid" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="cid" use="optional"/>
                  <xs:attribute type="xs:byte" name="rid" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="subjects">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="subject" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:anyURI" name="URL"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="sid" use="optional"/>
                  <xs:attribute type="xs:byte" name="cid" use="optional"/>
                  <xs:attribute type="xs:string" name="shorthand" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="students">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="login"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:short" name="born"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="studentid" use="optional"/>
                  <xs:attribute type="xs:byte" name="cid" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

